@font-face {
  font-family: 'TrailSans';
  font-weight: 400;
  src: url('../assets/fonts/trailsans-regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'TrailSans';
  font-weight: 700;
  src: url('../assets/fonts/trailsans-bold.woff2') format('woff2');
}